<p>
	<strong>Name:</strong>
	<%= @player.name %>

	

	<strong> Win:</strong>
	<%= @player.win %>

	<strong> Draw</strong>
	<%= @player.draw %>

	<strong> Lose:</strong>
	<%= @player.lose %>

	<strong> GS:</strong>
	<%= @player.gs %>

	<strong> GT:</strong>
	<%= @player.gt %>

	<strong> DR:</strong>
	<%= @player.dr %>
	<strong> Points:</strong>
	<%= @player.points %>
</p>
<% end %>

<%= link_to 'Back', players_path %>
